/*-------------------------------------------/*
*Extra Css
/*-------------------------------------------*/
body{
  font-family: 'Roboto', sans-serif;
}
.section-padding {
  padding: 50px 0px;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#tt-preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#pre-status,
.preload-placeholder {
  background-image: url(assets/img/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.preload-placeholder {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
  
}



/*hader area style start*/
.header-area{
    background-image: url(assets/img/bg.png);
    width: 100%;
    height:600px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.header-area:after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1883f3;
    content: '';
    top: 0;
    left: 0;
    opacity: .9;
    z-index: -1;
}
.extra{
    position: absolute;
    height: 70px;
    background: #fff;
    width: 100%;
    transform: skew(0deg,-2deg);
    padding-top: 40;
    top: 575px;
}
}
/*hader Top area style start*/
.header-top{
    padding:0;
    margin: 0;
    }
.contact-info {
     /*transform: skew(0deg, 4deg);*/
    display: inline-flex;
    position: absolute;
    left: 5%;
}
.contact-info i{
  padding:10px;
  font-size: 12px;
  color: #d2e3f4;

}

.social-icon {
  display: inline-flex;
  position: absolute;
  right: 5%;
}
.social-icon i{
  font-size: 12px;
  padding: 10px;
  color: #d2e3f4;
}
.line{

  position: absolute;
  height: 1px;
  width: 88%;
  background: #1b8bff;
  top: 32px;
  left: 6%;
}


.navbar {
  width: 80%;
  position: absolute;
  z-index: 99;
  padding-top: 5%;
  left: 33%;
  
}

.logo {
  position: absolute;
  left: 6%;
  padding-top: 5%;
}
.logo img{
  width: 80%;

}

.navbar button {
    margin-top: 24px;
    margin-left: 80%;
    z-index: 1;

}
.navbar ul li{
  padding-left: 10px;
}
.navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: .3s;
}

.navbar ul li a:hover {
    color: #fc6060;
}

#sticky-header {

    padding-top: 15px;
    z-index: 999;

}
.is-sticky #sticky-header {
  background: #000;
  padding: 3px 0px;
  border-bottom: 1px solid #FC6060;
}

.navbar button i {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 6px 10px;
  transition: .3s;
}

.navbar button i:hover {
  background: #FC6060;
}


/*services header area Start */
.services{
  margin-top: 50px;
  padding:0;
  margin-left: 5%;
}
.content-head h2{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: #1383f3;

}
.content-head h4{
  font-size: 25px;
  text-align: center;
  color: #4e526e;
}


/*services want area Start */

.service-box{
  margin:5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 7%;
}
.single-box{
  margin: 50px auto;
  height: 60px;
  width: 50px;
  box-shadow: 1px 2px 10px #7c7c7f;
  border-radius: 15px 5px;
}